<% content_for :title, 'My Works' %>
<section>
  <% content_for :section do %>
      <div class="container-fluid">
        <div class="row link-ex">

          <!-- note link -->
          <%= link_to "http://note.sulman.me/" do %>
              <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="offer offer-radius offer-primary">
                  <div class="shape">
                    <div class="shape-text">
                      new
                    </div>
                  </div>
                  <div class="offer-content">
                    <h3 class="lead">
                      Key-Note
                    </h3>
                    <p>
                      http://note.sulman.me/<br>
                      Note taking and sharing app.
                    </p>
                  </div>
                </div>
              </div>
          <% end %>

          <!-- socialbook link -->
          <%= link_to "http://social.sulman.me/" do %>
              <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="offer offer-radius offer-primary">
                  <div class="shape">
                    <div class="shape-text">
                      new
                    </div>
                  </div>
                  <div class="offer-content">
                    <h3 class="lead">
                      Socialbook
                    </h3>
                    <p>
                      http://social.sulman.me/<br>
                      Facebook clone social network
                    </p>
                  </div>
                </div>
              </div>
          <% end %>

          <!-- fotolib link -->
          <%= link_to "http://fotolib.sulman.me/" do %>
              <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="offer offer-radius offer-primary">
                  <div class="offer-content">
                    <h3 class="lead">
                      FotoLib
                    </h3>
                    <p>
                      http://fotolib.sulman.me/<br>
                      Private photos managing and sharing app
                    </p>
                  </div>
                </div>
              </div>
          <% end %>

          <!-- SSN link -->
          <%= link_to "http://scholarshipnetwork.info/" do %>
              <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="offer offer-radius offer-primary">
                  <div class="offer-content">
                    <h3 class="lead">
                      Scholarship Network
                    </h3>
                    <p>
                      http://scholarshipnetwork.info/<br>
                      Scholarship posts website
                    </p>
                  </div>
                </div>
              </div>
          <% end %>

          <!-- stukdo link -->
          <%= link_to "http://stukdo.sulman.me/" do %>
              <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="offer offer-radius offer-primary">
                  <div class="offer-content">
                    <h3 class="lead">
                      Stukdo
                    </h3>
                    <p>
                      http://stukdo.sulman.me/<br>
                      A smart private todo list
                    </p>
                  </div>
                </div>
              </div>
          <% end %>

          <!-- estuk link -->
          <%= link_to "http://stukdo.sulman.me/" do %>
              <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="offer offer-radius offer-primary">
                  <div class="offer-content">
                    <h3 class="lead">
                      eStuk
                    </h3>
                    <p>
                      http://estuk.sulman.me/<br>
                      Two sided bookstore like amazon
                    </p>
                  </div>
                </div>
              </div>
          <% end %>

          <!-- startup demo link -->
          <%= link_to "http://demo.sulman.me/" do %>
              <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="offer offer-radius offer-primary">
                  <div class="offer-content">
                    <h3 class="lead">
                      Startup Demo
                    </h3>
                    <p>
                      http://demo.sulman.me/<br>
                      Demo page for getting newsletters
                    </p>
                  </div>
                </div>
              </div>
          <% end %>

          <!-- google play link -->
          <%= link_to "https://play.google.com/store/search?q=sulman%20baig" do %>
              <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="offer offer-radius offer-primary">
                  <div class="offer-content">
                    <h3 class="lead">
                      My Android Apps
                    </h3>
                    <p>
                      https://play.google.com/store/search?q=sulman%20baig/
                    </p>
                  </div>
                </div>
              </div>
          <% end %>

        </div>
      </div>
  <% end %>
</section>